:root{
    --unselected-bg-color: rgb(56, 56, 56);
    --selection-bg-color: rgb(44, 44, 44);
}


.CodeNinjasHelper{
    height: auto;
    position: absolute;
    background-color: var(--unselected-bg-color);
    z-index: 100000;
    display: none;
    width: 10vw;
    max-height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
}

.CodeNinjasHelper > div{
    color:red;
    display: flex;
    width: 100%;
    overflow: hidden;
    align-items: center;
    padding: 1px 5px;
    min-height: 20px;
}

/* width */
.CodeNinjasHelper::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .CodeNinjasHelper::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .CodeNinjasHelper::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  .CodeNinjasHelper::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.CodeNinjasHelper > div > span{
    color:gray;
    pointer-events: none
}
.CodeNinjasHelper > div > span:first-child{
    color:rgb(214, 134, 28);
    margin-right: 5px;
}


.CodeNinjasHelper > div.selected{
    background-color: var(--selection-bg-color);
    cursor: pointer;
}


.custom-form > input{
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    flex-grow: 1;
}

.custom-form{
    display: flex;
}

