:root{
    --unselected-bg-color: rgb(56, 56, 56);
    --selection-bg-color: rgb(44, 44, 44);
}


.CodeNinjasHelper{
    height: auto;
    position: absolute;
    background-color: var(--unselected-bg-color);
    z-index: 100000;
    display: none;
    max-width: 20vw;
    max-height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
}

.CodeNinjasHelper > div{
    color:red;
    display: flex;
    width: 100%;
    overflow: hidden;
}

.CodeNinjasHelper > div > span{
    color:gray;
    pointer-events: none
}
.CodeNinjasHelper > div > span:first-child{
    color:rgb(214, 134, 28);
    margin-right: 5px;
}


.CodeNinjasHelper > div.selected{
    background-color: var(--selection-bg-color);
    cursor: pointer;
}
